<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:jdbc="http://www.springframework.org/schema/jdbc"  
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
    	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">
	
	<util:properties id="jdbc" location="classpath:/jdbc.properties"></util:properties>
	
	<!-- Definition of DataSource -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"	destroy-method="close">
		<property name="driverClass" value="#{jdbc['connection.driver_class']}"/>
		<property name="jdbcUrl" value="#{jdbc['connection.url']}"/>
		<property name="idleConnectionTestPeriod" value="#{jdbc['pool.c3p0.idle_connection_test_period']}" />
		<property name="preferredTestQuery" value="#{jdbc['pool.c3p0.preferred_test_query']}" />
		<property name="maxIdleTime" value="#{jdbc['pool.c3p0.max_idle_time']}" />
		<property name="properties">
			<props>
				<prop key="user">#{jdbc['connection.username']}</prop>
				<prop key="password">#{jdbc['connection.password']}</prop>
				<prop key="c3p0.acquire_increment">#{jdbc['pool.c3p0.acquire_increment']}</prop>
				<prop key="c3p0.max_size">#{jdbc['pool.c3p0.max_size']}</prop>
				<prop key="c3p0.min_size">#{jdbc['pool.c3p0.min_size']}</prop>
			</props>
		</property>
	</bean>
	
	<!-- 
		Definition of sessionFactory
		
		- Don't need to configure any other properties here, move all the properties to [classpath:/hibernate.properties]
		
	 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean" lazy-init="false">
		<property name="dataSource" ref="dataSource" />
		<property name="namingStrategy">
			<bean class="com.demo2do.core.persistence.SmartNamingStrategy" />
		</property>
		<property name="packagesToScan" value="com/demo2do/" />
	</bean>
	
	<bean id="genericDaoSupport" class="com.demo2do.core.persistence.GenericDaoSupport" autowire="byType" />
	
   <!-- Definition of TransactionManager -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager" autowire="byName" />

	<bean id="transactionInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">
         <property name="transactionManager" ref="transactionManager" />
         <property name="transactionAttributes">
              <props>
                   <prop key="*">PROPAGATION_REQUIRED</prop>
              </props>
         </property>
    </bean>

    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
         <property name="beanNames">
              <list>
                   <value>*Service</value>
              </list>
         </property>
         <property name="interceptorNames">
              <list>
                   <value>transactionInterceptor</value>
              </list>
         </property>
     </bean>
     
</beans>